<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>系统配置 - 凌智动后台管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="这不仅仅是一个后台管理系统，它基于BT4，超强的自适应，简洁，高效，大方" />
        <meta content="Mosheng" name="author" />


        <!-- App favicon -->
        <link rel="shortcut icon" href="/admin/assets/images/favicon.ico">
        
        <!-- plugins css-->
        <link href="/admin/css/vendor/switchery.min.css" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <header id="topnav" th:include="admin/template :: header"></header>

        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-3">形式验证（提示）</h4>

                                <form th:action="@{/admin/configupdate }" th:object="${byId }" method="POST" class="needs-validation">
                                <input type="hidden" name="id" value="1" />
                                    <div class="form-group position-relative mb-3">
                                        <label for="validationTooltip01">网站名称：</label>
                                        <input type="text" class="form-control" id="validationTooltip01" name="webtitle" th:value="*{webtitle }" required>
                                        <div class="valid-tooltip">
                                            看起来不错!
                                        </div>
                                        <div class="invalid-tooltip">
                                            请输入姓名。
                                        </div>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        <label for="validationTooltip02">网站域名</label>
                                        <input type="text" class="form-control" id="validationTooltip02" name="webdomain" th:value="*{webdomain }" required>
                                        <div class="valid-tooltip">
                                            看起来不错！
                                        </div>
                                        <div class="invalid-tooltip">
                                            请输入姓氏。
                                        </div>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        <label for="validationTooltipUsername">网站LOGO</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="validationTooltipUsernamePrepend">
													@
												</span>
                                            </div>
                                            <input type="text" name="weblogo" th:value="*{weblogo}" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend"
                                                required>
                                            <div class="invalid-tooltip">
                                                请选择一个唯一且有效的用户名。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        <label for="validationTooltip03">网站关键字</label>
                                        <input type="text" name="webkeyword" class="form-control" th:value="*{webkeyword}" id="validationTooltip03" placeholder="keyword" required>
                                        <div class="invalid-tooltip">
                                            请提供一个有效的城市。
                                        </div>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        <label for="validationTooltip04">网站描述</label>
                                        <input type="text" name="webdescribe" class="form-control" th:value="*{webdescribe}" id="validationTooltip04" placeholder="describe" required>
                                        <div class="invalid-tooltip">
                                            请提供有效的状态。
                                        </div>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        <label for="validationTooltip05">网站版权</label>
                                        <input type="text" name="webcopyright" class="form-control" th:value="*{webcopyright}" id="validationTooltip05" placeholder="copyright" required>
                                        <div class="invalid-tooltip">
                                            请提供有效的邮编。
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">提交表单</button>
                                </form>
                                
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row -->
                
            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->


        <!-- Footer Start -->
        <footer class="footer" th:include="admin/template :: footer"></footer>
        <!-- end Footer -->


        <!-- App js -->
        <script src="/admin/js/vendor.min.js"></script>
        <script src="js/app.min.js"></script>

        <!-- Plugins js -->
        <script src="/admin/js/vendor/switchery.min.js"></script>
        <script src="/admin/js/vendor/bootstrap-maxlength.min.js"></script>
        <script src="/admin/js/pages/form-advanced.init.js"></script>

    </body>
</html>
